/*

* Override Pages default styles or create your own styles here

*/

* {
	font-size: 13px;
}

*, p, span, a, div, td, th {
	text-transform: uppercase !important;
}

label {
	font-size: 11px !important;
}

h3 {
	font-size: 18px !important;
	margin: 0 !important;
	padding: 0 !important;
}

h1 {
	font-size: 24px !important;
	margin: 0 !important;
	padding: 0 !important;
}

.btn {
	border-radius: 0% !important;
}

.table tbody tr td {
	padding: 10px;
}

.card .card-body {
	padding: 16px;
}

.login-wrapper {
	height: 100%;
	/* background-color: rgba(0, 45, 98, 1) !important; */
	background-color: white !important;
	/* background-image: url('../../../sources/line-mask-2cm-grid.jpg');
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover; */
}

.left-img-pd {
	/* padding-left: 350px; */
}

.left-img {
	margin-top: -100px;
	height: 100vh;
	width: 100%;
}

.bg-new-login {
	background-color: white !important;
}

.bg-img-cs {
	margin-top: 120px;
	width: 100%;
}

.bg-img-cs-al {
	margin: 30px 0px;
	width: 100%;
}

a, div, body, table, ul, li, p, span, h5, h4, h3, h2, h1 {
	/* font-family : helvetica !important; */
}

.ant-site {
	background-image: url('../../../sources/bg-home.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.ant-site .page-content-wrapper {
	background: none !important;
}

.list-view .item:nth-child(odd) {
	background: #fff !important;
}

.list-view .item:nth-child(even) {
	background: #f9f9f9 !important;
}

.pagination {
	border: thin solid #dedede;
}

.pagination li {
	padding-left: 0 !important;
	width: auto !important;
	display: inline !important;
}

.pagination li>a, .list-view li>span {
	border: 0 !important;
	border-right: thin solid #ddd !important;
	margin: 0 !important;
	display: block !important;
	width: auto !important;
	float: left !important;
	padding: 0.7em 1.3em !important;
	font-size: 13px !important;
	font-weight: bold !important;
}

.pagination .next a {
	border: 0 !important;
}

.list-view li>a:hover, .list-view li>a:focus {
	background: #0da899 !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 0;
	padding: 8px 15px;
}

.pagination>li:first-child>a, .pagination>li:last-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 0;
	padding: 8px 15px;
}

.card-description p {
	margin: 0 !important;
	padding: 0 !important;
}

.card-description li:hover {
	background-color: none !important;
}

.card-description li {
	display: asdasd !important;
}

.card-default .card-body {
	border: none !important;
	-webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
}

.modal-backdrop.in {
	opacity: 0.80 !important;
}

.modal-backdrop {
	background-color: #2c3e50 !important;
}

.modal-open .select2-container {
	z-index: 1;
}

.modal-open .select2-container--open {
	z-index: 1051;
}

.modal .modal-dialog {
	/*width: 100% !important;
	max-width:1200px;
	margin: 0 auto!important; */
}

.modal .modal-content {
	max-width: 720px;
	margin: 0 auto !important;
}

.modal-lg {
	width: 900px !important;
	max-width: 900px !important;
}

.modal-xlg {
	width: 1124px !important;
	max-width: 1124px !important;
}

.modal-dialog .form-group-default.form-group-default-select2>label {
	z-index: 1052;
}

.modal .modal-header {
	padding-top: 10px;
	border-radius: 0;
	padding: 20px 20px 5px;
}

.error-summary p {
	font-weight: bold;
	margin-bottom: 0;
}

.error-summary ul {
	padding-left: 1em;
}

.form-group-default {
	overflow: visible !important;
}

.form-group-default .select2-container--krajee .select2-selection {
	box-shadow: none !important;
	background-color: #FFF;
	border: 0 !important;
	border-radius: 0 !important;
	color: #555;
	font-size: 14px;
	outline: 0px none;
}

.form-group-default .select2-container--krajee .select2-selection--single {
	height: 52px !important;
	padding: 24px 24px 6px 12px !important;
}

.form-group-default .has-success.select2-container--krajee .select2-dropdown, .has-success .select2-container--krajee .select2-selection {
	border: none !important;
}

.form-group-default .select2-container--krajee .select2-dropdown {
	box-shadow: none !important;
	border-color: #F0F0F0 !important;
	overflow-x: hidden;
	margin-top: 10px;
}

.form-group-default .select2-selection__arrow {
	border-width: medium medium medium 1px !important;
	border-style: none !important;
	border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #AAA !important;
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
	border-image: none !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	position: absolute !important;
	height: 32px !important;
	top: 20px !important;
	right: 10px !important;
	width: 20px !important;
}

.form-group-default .select2-container--krajee .select2-selection--single {
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	height: auto !important;
	min-height: 52px !important;
}

.select2-container .select2-selection .select2-selection__rendered .select2-selection__clear {
	font-size: 18px !important;
	margin-right: 10px;
	margin-top: 0px;
	padding-top: 0px;
}

.select2-selection__rendered {
	padding-top: 0px !important;
}

.form-group-default .help-block {
	margin-top: 0px;
	margin-bottom: 0px;
}

.form-group-default .form-control {
	padding: 0 !important;
}

.input-group .form-control {
	padding-left: 12px !important;
}

.tt-input {
	box-shadow: none !important;
}

.table {
	margin-top: 0 !important;
}

.bg-primary a, .bg-primary, .bg-success a, .bg-success {
	color: white !important;
}

input, select {
	font-size: 14px !important;
}

.card {
	border-radius: 0 !important;
}

.card-heading {
	border-radius: 0 !important;
}

.form-control {
	padding: 4px 10px !important;
}

.form-group {
	margin: 0 !important;
}

hr {
	margin-top: 0 !important;
}

.disabled span {
	font-size: 13px !important;
}

.pagination {
	margin: 0 !important;
}

.pagination ul>li, ol>li {
	padding-left: 0 !important;
}

.btn-group, .reload {
	vertical-align: top !important;
}

.summary {
	margin-top: 0.5em !important;
}

.table {
	margin-bottom: 0 !important;
}

.table tbody tr td {
	padding: 5px 10px !important;
	vertical-align: center;
	border-color: #dedede;
}

.table thead tr th {
	padding: 12px !important;
}

.table thead tr th a {
	color: #333;
}

table .btn .caret {
	margin-left: 0 !important;
}

.bg-primary a {
	color: white !important;
}

.btn {
	transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s !important;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
	border-radius: 0 !important;
	font-size: 13px !important;
}

.btn-md {
	padding: 8px 20px !important;
}

.btn-rounded {
	border-radius: 20px !important;
}

.btn-warning {
	background: #FAAB18 !important;
	border: 1px solid #f3a005 !important;
}

.btn-warning:hover {
	background: #f3a005 !important;
	border: 1px solid #f3a005 !important;
}

.select2-container--krajee .select2-selection {
	border-radius: 0 !important;
}

/* .tooltip-action {
	display: inline-block;
	cursor: pointer;
	height: 42px;
	width: 48px;
	line-height: 42px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.tooltip-action .trigger {
	line-height: 42px;
	text-align: center;
	font-size: 18px;
}

.tooltip-action .action-mask {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 42px;
	overflow: hidden;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease false;
	-o-transition: width 0.3s ease false;
	transition: width 0.3s ease;
}

.tooltip-action .action {
	opacity: 0;
	position: absolute;
	right: 10px;
	height: 100%;
	top: 0%;
	line-height: 42px;
	text-align: right;
	direction: rtl;
	background: rgba(0, 0, 0, 0.1) !important;
	-webkit-box-shadow: 10px 0 30px 30px rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: 10px 0 30px 30px rgba(0, 0, 0, 0.1) !important;
	box-shadow: 10px 0 30px 30px rgba(0, 0, 0, 0.1) !important;
}

.tooltip-action:hover .action {
	opacity: 1;
	z-index: 999;
}

.tooltip-action:hover .action-mask {
	width: 360px;
} */

.redactor-editor {
	min-height: 120px;
}

.redactor-editor p {
	margin-bottom: 0;
}

.redactor-box {
	margin-bottom: 0;
}

.description p {
	margin: 0 !important;
}

.bg-complete {
	background: #2980b9 !important;
	color: white !important;
	border: 0 !important;
}

.bg-complete a {
	color: white !important;
}

.btn-complete {
	background: #2980b9 !important;
	color: white !important;
	border: 0 !important;
}

.pagination a:active {
	background: #2980b9 !important;
	color: white !important;
}

a {
	font-size: 12px !important;
}

.breadcrumb {
	font-size: 11px !important;
	margin-bottom: 9px;
}

.breadcrumb li a, .breadcrumb li {
	font-size: 16px !important;
	margin: 0;
	padding: 0;
}

.breadcrumb>li+li:before {
	color: #ccc;
	content: " / ";
	padding: 0 6px;
}

.table tr th {
	font-size: 11px !important;
	font-weight: normal;
}

.tooltip .tooltip-arrow {
	border-top-color: gray !important;
}

.tooltip .tooltip-inner {
	background: white !important;
	opacity: 1;
	color: black;
	padding: 10px;
	box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
	border: gray;
}

.btn-sm {
	padding: 5px 10px !important;
	font-size: 12px !important;
}

.input-group-addon {
	background: none !important;
	border: none !important;
	font-size: 16px !important;
	padding: 0 10px 10px !important;
}

.min-height-120 {
	min-height: 120px !important;
}

.ant-switch {
	height: 56px !important;
}

.ant-switch .control-label {
	margin-top: 10px;
	float: left !important;
}

.ant-switch .switchery {
	margin-top: 5px;
	float: right !important;
}

.form-group input[disabled] {
	font-size: 14px !important;
	color: black !important;
}

.page-sidebar .sidebar-header {
	padding-left: 15px;
}

.nav-tabs-linetriangle>li.active>a::before {
	border-top-color: #999;
	border-width: 11px;
	margin-left: -11px;
}

.nav-tabs-linetriangle>li.active>a::after {
	border-top-color: #eee;
	border-width: 11px;
	margin-left: -11px;
}

#list-request label {
	display: block !important;
	margin: 0 !important;
}

#list-request input[type=checkbox]:checked+label {
	background-color: rgba(254, 202, 87, 0.3);
	border: thin solid rgb(254, 202, 87);
	border-top: 0;
}

.redactor-editor {
	height: 150px;
}

.pagination {
	margin: 0 !important
}

.form-group {
	margin-bottom: 0 !important;
}

.bg-pattern {
	background: url('https://d1xji5ll2cbak5.cloudfront.net/public/images/patterns/swirl_pattern.350e6e01f3d6.jpg');
}

.notification-footer {
	background: #007be8;
	position: relative;
	box-shadow: -1px -1px 5px 3px rgba(0, 0, 0, 0.2);
}

.kv-expand-detail-row td div {
	background: #f2f2f2 !important;
}
.kv-expand-detail-row td table td {
	background: none;
}
.alert {
	padding: 10px 20px 10px 15px !important;
}

.pace .pace-progress {
	background: #FAAB18 !important;
	height: 3px;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
	border: 0 !important;
}

.table.table-condensed thead tr th, .table.table-condensed tbody tr td, .table.table-condensed tbody tr td :not(.dropdown-default) {}

.multiple-input-list input {
	--max-width: 82px;
}

.multiple-input-list .list-cell__button {
	display: none;
}

.readonly {
	color: #373e43 !important;
}

@media only screen and (max-width: 575px) {
	.left-img {
		display: none;
	}
}

html {
	scroll-behavior: smooth;
}

.ant-site {
	background-image: url('/themes/pages/assets/img/bg-home.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.ant-site .page-content-wrapper {
	background: none !important;
}

.list-view .item:nth-child(odd) {
	background: #fff !important;
}

.list-view .item:nth-child(even) {
	background: #f9f9f9 !important;
}

.pagination {
	border: thin solid #dedede;
}

.pagination li {
	padding-left: 0 !important;
	width: auto !important;
	display: inline !important;
}

.pagination li>a, .list-view li>span {
	border: 0 !important;
	border-right: thin solid #ddd !important;
	margin: 0 !important;
	display: block !important;
	width: auto !important;
	float: left !important;
	padding: 0.7em 1.3em !important;
	font-size: 13px !important;
	font-weight: bold !important;
}

.pagination .next a {
	border: 0 !important;
}

.list-view li>a:hover, .list-view li>a:focus {
	background: #0da899 !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 0;
	padding: 8px 15px;
}

.pagination>li:first-child>a, .pagination>li:last-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 0;
	padding: 8px 15px;
}

.page-container .page-content-wrapper {
	background: #eee;
}

.card-description p {
	margin: 0 !important;
	padding: 0 !important;
}

.card-description li:hover {
	background-color: none !important;
}

.card-description li {
	display: asdasd !important;
}

.panel-default .panel-body {
	border: none !important;
	-webkit-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
}

.progress {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important;
}

.error-summary p {
	font-weight: bold;
	margin-bottom: 0;
}

.error-summary ul {
	padding-left: 1em;
}

.form-group-default {
	overflow: visible !important;
}

.form-group-default .select2-container--krajee .select2-selection {
	box-shadow: none !important;
	background-color: #FFF;
	border: 0 !important;
	border-radius: 0 !important;
	color: #555;
	font-size: 14px;
	outline: 0px none;
}

.form-group-default .select2-container--krajee .select2-selection--single {
	height: 52px !important;
	padding: 24px 24px 6px 12px !important;
}

.form-group-default .has-success.select2-container--krajee .select2-dropdown, .has-success .select2-container--krajee .select2-selection {
	border: none !important;
}

.form-group-default .select2-container--krajee .select2-dropdown {
	box-shadow: none !important;
	border-color: #F0F0F0 !important;
	overflow-x: hidden;
	margin-top: 10px;
}

.form-group-default .select2-selection__arrow {
	border-width: medium medium medium 1px !important;
	border-style: none !important;
	border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #AAA !important;
	-moz-border-top-colors: none !important;
	-moz-border-right-colors: none !important;
	-moz-border-bottom-colors: none !important;
	-moz-border-left-colors: none !important;
	border-image: none !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	position: absolute !important;
	height: 32px !important;
	top: 20px !important;
	right: 10px !important;
	width: 20px !important;
}

.form-group-default .select2-container--krajee .select2-selection--single {
	box-shadow: none;
	border: 1px solid rgba(0, 0, 0, 0.07);
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	height: auto !important;
	min-height: 52px !important;
}

.form-group-default .help-block {
	margin-top: 0px;
	margin-bottom: 0px;
}

.form-group-default .form-control {
	padding: 0 !important;
}

.input-group .form-control {
	padding-left: 12px !important;
}

.tt-input {
	box-shadow: none !important;
}

.table {
	margin-top: 0 !important;
}

.bg-primary a, .bg-primary, .bg-success a, .bg-success {
	color: white !important;
}

.breadcrumb li a, .breadcrumb li {
	font-size: 16px !important;
}

input, select {
	font-size: 14px !important;
}

.panel {
	border-radius: 0 !important;
}

.panel-heading {
	border-radius: 0 !important;
}

.form-control {
	padding: 4px 10px !important;
}

.form-group {
	margin: 0 !important;
}

hr {
	margin-top: 0 !important;
}

.disabled span {
	font-size: 13px !important;
}

.pagination {
	margin: 0 !important;
}

.pagination ul>li, ol>li {
	padding-left: 0 !important;
}

.btn-group, .reload {
	vertical-align: top !important;
}

.summary {
	margin-top: 0.5em !important;
}

.table {
	margin-bottom: 0 !important;
}

.table tbody tr td {
	padding: 5px 10px !important;
	vertical-align: center;
}

.table thead tr th {
	padding: 12px !important;
}

.table thead tr th a {
	color: #333;
}

table .btn .caret {
	margin-left: 0 !important;
}

.bg-primary a {
	color: white !important;
}

.btn {
	transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s !important;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
	border-radius: 0 !important;
	font-size: 13px !important;
}

.btn-md {
	padding: 8px 20px !important;
}

.btn-rounded {
	border-radius: 20px !important;
}

.btn-warning {
	background: #FAAB18 !important;
	border: 1px solid #f3a005 !important;
}

.btn-warning:hover {
	background: #f3a005 !important;
	border: 1px solid #f3a005 !important;
}

.select2-container--krajee .select2-selection {
	border-radius: 0 !important;
}

.tooltip-action {
	display: inline-block;
	cursor: pointer;
	height: 42px;
	width: 48px;
	line-height: 42px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.tooltip-action .trigger {
	line-height: 42px;
	text-align: center;
	font-size: 18px;
}

.tooltip-action .action-mask {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 42px;
	overflow: hidden;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease false;
	-o-transition: width 0.3s ease false;
	transition: width 0.3s ease;
}

.tooltip-action .action {
	opacity: 0;
	position: absolute;
	right: 0px;
	height: 100%;
	top: 0%;
	line-height: 42px;
	text-align: right;
	direction: rtl;
	background: rgba(0, 0, 0, 0.1) !important;
	-webkit-box-shadow: 10px 0 30px 30px rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: 10px 0 30px 30px rgba(0, 0, 0, 0.1) !important;
	box-shadow: 10px 0 30px 30px rgba(0, 0, 0, 0.1) !important;
}

.tooltip-action:hover .action {
	opacity: 1;
	z-index: 999;
}

.tooltip-action:hover .action-mask {
	width: 360px;
}

.redactor-editor p {
	margin-bottom: 0;
}

.redactor-box {
	margin-bottom: 0;
}

.description p {
	margin: 0 !important;
}

.bg-complete {
	background: #2980b9 !important;
	color: white !important;
	border: 0 !important;
}

.bg-complete a {
	color: white !important;
}

.btn-complete {
	background: #2980b9 !important;
	color: white !important;
	border: 0 !important;
}

.pagination a:active {
	background: #2980b9 !important;
	color: white !important;
}

a {
	font-size: 12px !important;
}

.breadcrumb {
	font-size: 11px !important;
}

.breadcrumb li, .breadcrumb li a {
	font-size: 16px !important;
}

.table tr th {
	font-size: 11px !important;
	font-weight: normal;
}

.table tr td {
	font-size: 13px !important;
}

.tooltip .tooltip-arrow {
	border-top-color: gray !important;
}

.tooltip .tooltip-inner {
	background: white !important;
	opacity: 1;
	color: black;
	padding: 10px;
	box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
	border: gray;
}

.btn-sm {
	padding: 5px 10px !important;
	font-size: 12px !important;
}

.input-group-addon {
	background: none !important;
	border: none !important;
	font-size: 16px !important;
	padding: 0 10px 10px !important;
}

.min-height-120 {
	min-height: 120px !important;
}

.ant-switch {
	height: 56px !important;
}

.ant-switch .control-label {
	margin-top: 10px;
	float: left !important;
}

.ant-switch .switchery {
	margin-top: 5px;
	float: right !important;
}

.form-group input[disabled] {
	font-size: 14px !important;
	color: black !important;
}

.page-sidebar .sidebar-header {
	padding-left: 15px;
}

.nav-tabs-linetriangle>li.active>a::before {
	border-top-color: #999;
	border-width: 11px;
	margin-left: -11px;
}

.nav-tabs-linetriangle>li.active>a::after {
	border-top-color: #eee;
	border-width: 11px;
	margin-left: -11px;
}

#list-request label {
	display: block !important;
	margin: 0 !important;
}

#list-request input[type=checkbox]:checked+label {
	background-color: rgba(254, 202, 87, 0.3);
	border: thin solid rgb(254, 202, 87);
	border-top: 0;
}

.select-withoutlabel .select2-container .select2-selection .select2-selection__rendered {
	padding-top: 5px !important;
}

input[type="checkbox"]:checked+label {
	background-color: rgba(254, 202, 87, 0.3);
	border: thin solid rgb(254, 202, 87);
	border-top-color: rgb(254, 202, 87);
	border-top-style: solid;
	border-top-width: thin;
}

.mlr-30 {
	margin: 0px -30px;
}

.m-b-70 {
	margin-bottom: 70px;
}

.c-f-14 {
	font-size: 14px !important;
	font-family: Arial, sans-serif
}

.c-p-r-15 {
	padding-right: 12px !important;
}

#tr-calendar {
	padding: 1em;
}

#tr-calendar table tr td {
	background: #FDB913;
	border: thin solid #fff;
	height: 120px;
	max-width: 120px;
	padding: 0 !important;
}

#tr-calendar table thead tr th {
	background: #FDB913 !important;
	color: black !important;
}

#tr-calendar a {
	height: 100%;
	width: 100%;
	display: block;
	text-align: center;
}

#tr-calendar a .tt {
	position: absolute;
	background: #f3f3f3;
	border: thin solid #ddd;
	box-shadow: 20px 25px 51px -21px rgba(0, 0, 0, 0.6);
	color: #000;
	display: none;
	padding: 0.5em;
	text-align: left;
}

#tr-calendar a:hover .tt {
	display: block;
}

#tr-calendar small {
	text-align: right;
	float: right;
	margin: 10px;
}

#tr-calendar .day {
	font-weight: bolder;
	font-size: 16px !important;
	color: white;
	margin: 10px;
	float: left;
}

#tr-calendar .status {
	font-size: 10px !important;
	margin: 15px 10px;
	color: black;
}

#tr-calendar .wh {
	font-size: 21px !important;
	text-align: center;
	color: black;
}

#tr-calendar .none {
	background: #999999;
	color: black;
}

#tr-calendar .weekend {
	background: rgba(237, 28, 36, 0.5);
}

#tr-calendar .sunday {
	background: rgba(237, 28, 36);
}

#tr-calendar .dayoff {
	background: rgba(237, 28, 36);
}

#tr-calendar .completed {
	background: #002D62;
}

#tr-calendar .pending {
	background: #55C5E9 !important;
}

#tr-calendar .revised {
	background: #55C5E9 !important;
}

@media only screen and (max-width: 850px) {
	.modal-lg {
		width: auto !important;
		max-width: 100% !important;
	}
	.modal .modal-content {
		max-width: 100% !important;
		margin: 0 auto !important;
	}
}

@media screen and (max-width: 600px) {
	#tr-calendar {
		max-width: 1200px;
	}
	.tooltip-action .action {
		right: 40px;
	}
	.bg-img-cs {
		display: none;
	}
}

.multiselect-container .active a {
	background-color: #74b9ff !important;
	border-radius: 0;
}

.multiselect-container .checkbox {
	padding: 5px;
	min-width: 120px;
	z-index: 999;
}

.multiselect-container .checkbox input[type="checkbox"] {
	opacity: 1;
	width: 16px;
	height: 16px;
}

.multiselect-container {
	position: fixed !important;
	transform: none !important;
	top: auto !important;
	left: auto !important;
	will-change: auto !important;
	max-height: 320px !important;
	overflow-y: scroll !important;
	right: 10px !important;
}

.ant-form .ant-fileinput .col {
	min-width: 164px !important;
	padding: 0;
}

.ant-form .ant-fileinput .control-label {
	font-size: 12px;
}

.ant-form .file-input {
	padding: 0;
}

.ant-form .file-input .btn-file {
	max-height: 36px;
}

.ant-form .fileinput-label {
	padding: 0 6px;
	text-align: center;
}

.ant-form .file-preview {
	border: 0;
	padding: 0 6px;
}

.ant-form .file-drop-zone {
	border: thin solid #ddd;
}

.ant-form .file-drop-zone:hover {
	border: thin solid #ddd;
}

.ant-form .file-drop-zone-title {
	font-size: 0px;
	padding: 0 6px;
}

.ant-form .file-drop-zone-title:after {
	font-size: 64px;
	line-height: 92px;
	content: "+";
}

.ant-form .file-preview .fileinput-remove {
	top: 6px;
	right: 6px;
	z-index: 999;
}

.ant-form .fileinput-remove span {
	font-size: 40px;
	margin: 0;
	color: red;
	z-index: 9 !important;
}

.ant-form small .hint-block {
	font-size: 9px;
}

, ant-form b .control-label {
	font-weight: bold;
}

.ant-form .krajee-default .file-preview-frame {
	margin: 0 !important;
	border: 0 !important;
}

.ant-form .file-drop-zone {
	padding: 0;
	margin: 0;
	height: 164px !important;
	min-height: 164px !important;
}

.file-drop-zone .clearfix .clickable {
	min-height: 164px !important;
}

.ant-form .file-preview-frame {
	width: 100% !important;
	padding: 10px !important;
	margin: 0 !important;
	border: 0 !important;
	box-shadow: none !important;
	height: 164px !important;
}

.ant-form .file-preview-frame:hover {
	box-shadow: none !important;
	background: transparent;
}

.ant-form .file-thumbnail-footer {
	display: none;
}

.ant-form .file-thumbnail-action {
	display: none;
}

.ant-form .kv-fileinput-caption {
	padding: 3px !important;
	height: 45px !important;
}

.ant-form .file-caption-name {
	height: 39px;
}

.ant-form img {
	max-width: 100% !important;
	float: left;
}

.ant-form .krajee-default.file-preview-frame .kv-file-content {
	width: 100% !important;
	height: 100% !important;
}

.wc {
	width: 14.2% !important;
}

.status-cl {
	font-size: 12px !important;
	color: black;
}

.whc {
	font-size: 14px !important;
	color: black;
	margin-top: 20px !important;
}
.kv-drp-dropdown .kv-clear {
	top: -16px;
}


.kv-drp-dropdown .range-value {
	color: black !important;
}
@media screen and (max-width: 600px) {
	.header-tra {
		font-size: 14px !important;
		text-align: center !important;
	}
	.plr-3 {
		padding: 0px 3px !important;
	}
	.text-right {
		text-align: center !important;
	}
	.mt-10-cs {
		margin-top: 10px !important;
	}
	.tm {
		margin-right: 20px !important;
	}
	.wc {
		max-width: 200px !important;
	}
	.status-cl {
		font-size: 10px !important;
		color: black;
		margin-top: -5px !important;
	}
	.whc {
		font-size: 10px !important;
		color: black;
		margin-top: 0px !important;
	}
}